@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@400&display=swap');

:root {
  --min-button-width: 2.25em;
  font-family: sans-serif;
  font-size: 130%;
}

body {
  margin: 2em 2em;
  text-align: center;
}

h1 {
  font-family: 'Montagu Slab', sans-serif;
  font-size: 3.1em;
}

h2 {
  font-family: 'Montagu Slab', sans-serif;
  font-size: 2em;
}

table {
  margin: 0 auto;
}

.table-headings {
  font-weight: bold;
}

td {
  text-align: start;
  padding: 0.5em 1em;
}

.center {
  text-align: center;
}

input {
  padding: 0.5em;
  margin: 0.5em;
  font-size: 100%;
}

button {
  padding: 0.5em;
  margin: 0.5em;
  font-size: 100%;
}

hr {
  width: 24em;
  border-color: #0000;
  background-color: black;
}

.flour-entry-name {
  width: 9em;
}

.flour-entry-number {
  width: 3.5em;
  text-align: center;
}

.flour-delete-button {
  min-width: var(--min-button-width);
}

.sub-total {
  font-size: 2em;
}

.total {
  font-size: 2.6em;
}
