@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@700&display=swap');

:root {
  --min-button-width: 2.25em;
  font-family: sans-serif;
  font-size: 130%;
}

body {
  margin: 2em 2em;
  text-align: center;
}

h1 {
  margin: 0.6em auto;
  font-weight: normal;
  font-family: 'Montagu Slab', sans-serif;
  font-size: 2.6em;
}

h2 {
  margin: 0.5em auto;
  font-weight: normal;
  font-family: 'Montagu Slab', sans-serif;
  font-size: 1.7em;
}

table {
  margin: 0 auto;
}

.table-headings {
  font-weight: bold;
}

td {
  text-align: start;
  padding: 0.5em;
}

.center {
  text-align: center;
}

input,
button {
  padding: 0.5em;
  font-size: 100%;
}

input:active,
input:focus-visible {
  outline: 1pt;
}

hr {
  margin-top: 1em;
  width: 25em;
  border-color: #0000;
  background-color: black;
}

.flour-entry-name {
  width: 9em;
}

.flour-entry-number {
  width: 3.5em;
  text-align: center;
}

.flour-delete-button {
  min-width: var(--min-button-width);
}

.sub-total {
  font-size: 2em;
}

.total {
  font-weight: 600;
  font-size: 2.6em;
}

@media (max-width: 660px) {
  body {
    margin: 0;
  }

  h1 {
    font-size: 8.4vw;
  }

  h2 {
    font-size: 5.3vw;
  }

  hr {
    width: 84vw;
  }

  input,
  button {
    /* padding: 0.9vw; */
    font-size: 3.5vw;
  }

  td {
    padding: 1vw;
  }

  .table-headings {
    font-size: 3.4vw;
  }

  .sub-total {
    font-size: 7.5vw;
    padding: 0 3vw 3vw;
  }

  .total {
    font-size: 9vw;
    padding: 0vw;
  }
}
