:root {
  font-family: sans-serif;
  font-size: 130%;
}

body {
  margin: 2em 2em;
  text-align: center;
}

table {
  margin: 0 auto;
}

td {
  text-align: start;
  /* border-style: solid;  */
  padding: 0.5em 1em;
}

input {
  padding: 0.5em;
  margin: 0.5em;
  font-size: 100%;
}

button {
  padding: 0.5em;
  margin: 1em;
  font-size: 100%;
}

.flour-entry-name {
  width: 9em;
}

.flour-entry-number {
  width: 3.5em;
  text-align: center;
}
