@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
  --yellow: #fe5;
  --yellow-highlight: #fe7;
  --grey-base: #333;
  --grey-highlight: #555;
}

body {
  font-family: 'Libre Baskerville', sans-serif;
  padding: 4vw 6vw 7vw 5vw;
  background-color: var(--grey-base);
  color: var(--yellow);
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 48pt;
  margin-bottom: 0px;
}

#site-masthead {
  font-size: 60pt;
  text-align: center;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 26pt;
}

h3 {
  text-align: center;
  margin-top: 0px;
  font-size: 22pt;
}

p {
  font-size: 14pt;
}

.blog {
  border-style: solid;
  border-width: 4pt;
  border-radius: 5pt;
  padding: 0px 36px 18px;
  margin: 36px 0px;
}

.blog:hover {
  color: var(--yellow);
  background-color: var(--grey-highlight);
}

a,
a:visited {
  color: var(--yellow);
  text-decoration: none;
}

a:hover {
  color: var(--yellow-highlight);
}

@media (max-width: 500px) {
  h1 {
    font-size: 36pt;
  }

  h2 {
    font-size: 18pt;
  }

  h3 {
    font-size: 16pt;
  }

  p {
    font-size: 12pt;
  }

  #site-masthead {
    font-size: 44pt;
    text-align: center;
  }
    
}
