@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
  --yellow: #fe5;
  --yellow-highlight: #fe7;
  --grey-base: #333;
  --grey-highlight: #555;
  --header-height: 72px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.25rem;
}

body {
  font-family: 'Libre Baskerville', sans-serif;
  margin-top: var(--header-height);
  padding: 3vh 22vw 7vh 20vw;
  background-color: var(--grey-base);
  color: var(--yellow);
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 48pt;
  line-height: 105%;
  margin-bottom: 0px;
}

#site-masthead {
  font-size: 60pt;
  text-align: center;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 26pt;
}

h3 {
  margin-top: 1rem;
  font-size: 22pt;
  line-height: 140%;
}

.site-masthead-h3 {
  text-align: center;
  margin-top: 0px;
}

p, li {
  line-height: 150%;
  font-size: 13pt;
}

.code-block {
  background: #202020;
  border-radius: 0.25em;
  overflow: auto;
  margin-bottom: 2.5em;
  width: auto;
  max-width: 40em;
  padding: 0.6em 0.5em;
  font-size: 11.5pt;
}

.preformatted-code-block {
  margin: 0;
  line-height: 135%;
}

.header {
  width: 100vw;
  height: var(--header-height);
  background-color: #555;
  border-width: 0 0 2px 0;
  border-color: #fe7;
  border-style: solid;
  position: fixed;
  top: 0px;
  left: 0px;
}

.header-logo {
  position: fixed;
  margin-top: 16px;
  left: 20vw;
  border-color: #333;
  border-style: solid;
  border-radius: 50%;
  background-color: #333;
}

.blog {
  border-style: solid;
  border-width: 3pt 0 0 3pt;
  border-color: var(--grey-highlight);
  border-radius: 5pt;
  padding: 0px 36px 18px;
  margin: 36px 0px;
}

.blog:hover {
  color: var(--yellow);
  background-color: var(--grey-highlight);
}

.date {
  text-align: right;
}

a,
a:visited {
  color: var(--yellow);
  text-decoration: none;
}

a:hover {
  color: var(--yellow-highlight);
}

@media (max-width: 580px) {
  :root {
    --header-height: 60px;
  }

  .header-logo {
    left: 5vw;
  }

  .code-block {
    font-size: 10pt;

  }

  body {
    min-width: 0;
    padding: 4vh 6vw 7vh 5vw;
    max-width: none;
  }

  h1 {
    font-size: 36pt;
  }

  h2 {
    font-size: 18pt;
  }

  h3 {
    font-size: 16pt;
  }

  p, li {
    font-size: 11pt;
  }

  #site-masthead {
    font-size: 44pt;
  }
}
