html {
  --yellow: #fe5;
  --yellow-highlight: #fe7;
  --grey-base: #333;
  --grey-highlight: #555;
}

body {
  padding: 4vw 6vw 5vw 5vw;
  background-color: var(--grey-base);
  color: var(--yellow);
}

h1 {
  font-size: 72pt;
  margin-bottom: 0px;
}

h2 {
  font-size: 32pt;
}

h3 {
  margin-top: 0px;
  font-size: 24pt;
}

p {
  font-size: 16pt;
}

.blog {
  border-style: solid;
  border-width: 4pt;
  border-radius: 5pt;
  padding: 0px 36px 18px;
}

.blog:hover {
  color: var(--yellow);
  background-color: var(--grey-highlight);
}

a {
  color: var(--yellow);
  text-decoration: none;
}

a:hover {
  color: var(--yellow-highlight);
}