div {
  line-height: 155%;
  font-size: 14pt;
}

.confidence-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* max-width: 100%; */
}

.col-1 {
  min-width: 25%;
}

.col-2 {
  width: 25%;
}

.col-3 {
  min-width: 50%;
}

.col-1,
.col-2,
.col-3 {
  /* padding: 0.3em; */
  border-width: 2px;
  border-color: aquamarine;
  /* border-style: solid; */
}

.col-header {
  margin-bottom: 0;
}

.star-rating-5::after {
  content: '\2605\2605\2605\2605\2605';
}

.star-rating-4::after {
  content: '\2605\2605\2605\2605\2606';
}

.star-rating-3::after {
  content: '\2605\2605\2605\2606\2606';
}

.star-rating-2::after {
  content: '\2605\2606\2606\2606\2606';
}

.star-rating-1::after {
  content: '\2606\2606\2606\2606\2606';
}
